<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>모해?모여! 회원정보수정~</title>



    <link href="../stylesheets/bootstrap.css" rel="stylesheet">
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="../stylesheets/font-awesome.min.css" rel="stylesheet">
    <link href="../stylesheets/style.css" rel="stylesheet">


<script src="js/javascript.js"></script>
<script>
/*function a(){
var f=document.formName;
f.action = "/profilechangeOk";
f.method = "post"
// 파일 전송이 필요할 경우만 씀.
f.submit();
}*/
</script>
</head>
<body>
  <nav class="navbar-default navbar-inverse navbar-custom navbar-fixed-top"><!--네비게이션-->
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">모해?모여!</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/main">Home</a></li>
        <li><a href="/imademeeting">내가만든모임</a></li>
        <li><a href="/mymeeting">나의모임일정</a></li>
        <li><a href="/waitaccept">수락대기모임</a></li>
        <li class="active"><a href="/profilechange">회원정보수정</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

    <div id="backcolor"><!--타이틀-->
        <h1 class="text-center text-white text-title"><br><a style="color:#FA6A5C;">회</a>원<a style="color:#FA6A5C;">정</a>보<a style="color:#FA6A5C;">수</a>정</h1><br>
          <div class=" container-fluid center-block text-center">

        </div>

      </div>
      <br>
      <div class=" container-fluid center-block"> <!--내용-->
          <div class="col-md-2"></div>
            <div class=" container-fluid col-md-8  " style="margin:1%;">
              <form enctype="multipart/form-data" method="post" action="uploadOk">
                <div class="row">
                  <div class="col-xs-4 col-md-4"></div>
                  <div class="col-xs-4 col-md-4">
                    <div class='square-box well'>
                      <div class='square-content'style="background-image: url(https://s3.ap-northeast-2.amazonaws.com/likelionsmu/user_img/default.png); background-size:cover;"></div>
                    </div>
                  </div>
                  <div class="col-xs-4 col-md-4"></div>
                  </div>
                  <center>
                      <div class="filebox"style="float:center">
                            <label for="ex_file">사진업로드</label>
                            <input type="file" id="ex_file" name="user_img">
                            <input type="submit" >
                      </div>
                  </center>
                  <br>



              <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
              <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
              <!-- Include all compiled plugins (below), or include individual files as needed -->
              <script src="../javascripts/bootstrap.min.js"></script>
              <script src="../javascripts/javascript.js"></script>
  </body>
</html><script src="" charset="utf-8"></script>
